.navbar {
  color: white;
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding-right: 50px;
}

.navbar ul li.active {
  font-weight: bold;
}